[class*="col"] {
    min-height: 100px;
    border: 1px solid #fff;
    background-color: green;
}


[class*="col-"] {
    min-height: 100px;
    border: 1px solid #fff;
    background-color: blue;
}

.container-nav {
    /* background-color: #2c3e50; */
    height: 100%;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.bg-light {
    background-color: #2c3e50!important;

