[class*="col-"] {
    min-height: 50px;
    border: 1px solid #fff;
    background-color: blue;
}


/* header */
.header {
    height: 50px;
}

.dx-header {
    background-color: red;
}

.sx-header {
    background-color: purple;
}

/* JUMBOTRON */
.jumbotron {
    height: 500px;
}

/* MAIN */

/* SECTION 1 */
.container-section-1 {
    width: 60%;
    margin: 0 auto;
    /* DEBUG */
    height: 600px;
}

.box-image {
    height: 150px;
    border-radius: 15px;
    background-color: khaki;
}

/* SECTION 2  */

#section2 {
    background-color: grey;
}
.container-section-2 {
    width: 55%;
    margin: 0 auto;
}

.section2-content {
    height: 100px;
}

.sx-section2 {
    background-color: red;
}

.dx-section2 {
    background-color: purple;
}